/* global css */
*{
    font-size: 65px;
    font-weight: bold;
}
/* external CSS */
h3{
    color: blue;
}
/* element selector */
h4{
    color: red;
}
/*class selector */
.h5{
    color: green;
}
/* id selector */
#myid{
    color: navajowhite;
}
/* group selector */
h5,p{
    color: cyan;
}